<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sadari.admin.sadariadmin.alim.mapper.AlimTempMapper">
    <!-- 알림 템플릿 코드명 조회에 사용하는 공통코드를 바인딩한다 -->
    <sql id="codeNameBindings">
        <bind name="alimSituCode" value="@org.sadari.admin.sadariadmin.common.constant.Constant@ALIM_SITU"/>
        <bind name="commYsno" value="@org.sadari.admin.sadariadmin.common.constant.Constant@COMM_YSNO"/>
        <bind name="useeYsnoCode" value="@org.sadari.admin.sadariadmin.common.constant.Constant@USEE_YSNO_CODE"/>
    </sql>

    <!-- 알림 템플릿 목록과 건수에 동일하게 적용할 검색 조건이다 -->
    <sql id="alimTempSearchConditions">
        <if test="keyword != null and keyword != ''">
            <bind name="keywordLike" value="'%' + keyword.toUpperCase() + '%'"/>
           AND (
                   UPPER(A.TEMP_CODE) LIKE #{keywordLike}
                OR UPPER(A.TEMP_TITL) LIKE #{keywordLike}
               )
        </if>
        <if test="alimSitu != null and alimSitu != ''">
           AND A.ALIM_SITU = #{alimSitu}
        </if>
        <if test="useeYsno != null and useeYsno != ''">
           AND A.USEE_YSNO = #{useeYsno}
        </if>
    </sql>

    <!-- 알림 템플릿 공통 조회 컬럼 목록 -->
    <sql id="alimTempColumns">
          A.ALIM_SITU
        , FN_GET_CODE_NAME(#{alimSituCode}, A.ALIM_SITU, #{alimSituCode}, 'ko') AS ALIM_SITU_NAME
        , A.TEMP_CODE
        , A.TEMP_TITL
        , A.ALIM_TITL
        , A.ALIM_ENTL
        , A.TEMP_CONT
        , A.TEMP_ENCT
        , A.USEE_YSNO
        , FN_GET_CODE_NAME(#{commYsno}, A.USEE_YSNO, #{useeYsnoCode}, 'ko') AS USEE_YSNO_NAME
        , A.REGI_ADMN
        , FN_GET_ADMIN_NAME(A.REGI_ADMN) AS REGI_ADMN_NAME
        , A.REGI_DATE
        , A.UPDT_ADMN
        , FN_GET_ADMIN_NAME(A.UPDT_ADMN) AS UPDT_ADMN_NAME
        , A.UPDT_DATE
    </sql>

    <!-- 페이징 인라인 뷰의 알림 템플릿 컬럼 목록 -->
    <sql id="alimTempPageColumns">
          P.ALIM_SITU
        , P.ALIM_SITU_NAME
        , P.TEMP_CODE
        , P.TEMP_TITL
        , P.ALIM_TITL
        , P.ALIM_ENTL
        , P.TEMP_CONT
        , P.TEMP_ENCT
        , P.USEE_YSNO
        , P.USEE_YSNO_NAME
        , P.REGI_ADMN
        , P.REGI_ADMN_NAME
        , P.REGI_DATE
        , P.UPDT_ADMN
        , P.UPDT_ADMN_NAME
        , P.UPDT_DATE
    </sql>

    <!-- 알림 템플릿 목록을 조회한다 -->
    <select id="getAlimTempList" parameterType="org.sadari.admin.sadariadmin.alim.vo.AlimTempSearchVO"
            resultType="org.sadari.admin.sadariadmin.alim.vo.AlimTempVO">
        <include refid="codeNameBindings"/>
        SELECT /* getAlimTempList */
               <include refid="alimTempPageColumns"/>
          FROM (  SELECT R.ALIM_SITU
                       , R.ALIM_SITU_NAME
                       , R.TEMP_CODE
                       , R.TEMP_TITL
                       , R.ALIM_TITL
                       , R.ALIM_ENTL
                       , R.TEMP_CONT
                       , R.TEMP_ENCT
                       , R.USEE_YSNO
                       , R.USEE_YSNO_NAME
                       , R.REGI_ADMN
                       , R.REGI_ADMN_NAME
                       , R.REGI_DATE
                       , R.UPDT_ADMN
                       , R.UPDT_ADMN_NAME
                       , R.UPDT_DATE
                       , ROW_NUMBER() OVER (
                             ORDER BY R.ALIM_SITU
                                    , R.TEMP_CODE
                         ) AS ROW_NUMB
                    FROM (  SELECT <include refid="alimTempColumns"/>
                              FROM TB_ALTEMP A
                             WHERE 1 = 1
                                   <include refid="alimTempSearchConditions"/>
                          ORDER BY A.ALIM_SITU
                                 , A.TEMP_CODE
                         ) R
               ) P
         WHERE P.ROW_NUMB BETWEEN #{startRow} AND #{endRow}
      ORDER BY P.ROW_NUMB
    </select>

    <!-- 알림 템플릿 전체 건수를 조회한다 -->
    <select id="getAlimTempListCount" parameterType="org.sadari.admin.sadariadmin.alim.vo.AlimTempSearchVO"
            resultType="int">
        SELECT /* getAlimTempListCount */
               COUNT(1)
          FROM TB_ALTEMP A
         WHERE 1 = 1
               <include refid="alimTempSearchConditions"/>
    </select>

    <!-- 알림 상황과 템플릿 코드로 알림 템플릿 상세를 조회한다 -->
    <select id="getAlimTempDtl" resultType="org.sadari.admin.sadariadmin.alim.vo.AlimTempVO">
        <include refid="codeNameBindings"/>
        SELECT /* getAlimTempDtl */
               <include refid="alimTempColumns"/>
          FROM TB_ALTEMP A
         WHERE A.ALIM_SITU = #{alimSitu}
           AND A.TEMP_CODE = #{tempCode}
    </select>

    <!-- 같은 알림 상황 안의 템플릿 코드 중복 개수를 조회한다 -->
    <select id="getAlimTempCnt" resultType="int">
        SELECT /* getAlimTempCnt */
               COUNT(1)
          FROM TB_ALTEMP
         WHERE ALIM_SITU = #{alimSitu}
           AND TEMP_CODE = #{tempCode}
    </select>

    <!-- 알림 템플릿 정보를 등록한다 -->
    <insert id="setAlimTemp">
        /* setAlimTemp */
        INSERT INTO TB_ALTEMP (
                    ALIM_SITU
                  , TEMP_CODE
                  , TEMP_TITL
                  , ALIM_TITL
                  , ALIM_ENTL
                  , TEMP_CONT
                  , TEMP_ENCT
                  , USEE_YSNO
                  , REGI_ADMN
                  , REGI_DATE
                  , UPDT_ADMN
                  , UPDT_DATE
        ) VALUES (  #{alimSitu}
                  , #{tempCode}
                  , #{tempTitl}
                  , #{alimTitl}
                  , #{alimEntl}
                  , #{tempCont}
                  , #{tempEnct}
                  , #{useeYsno}
                  , #{regiAdmn}
                  , CURRENT_TIMESTAMP
                  , #{updtAdmn}
                  , CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 알림 템플릿 상세 정보를 수정한다 -->
    <update id="uptAlimTemp">
        UPDATE /* uptAlimTemp */
               TB_ALTEMP
           SET ALIM_SITU = #{alimTemp.alimSitu}
             , TEMP_CODE = #{alimTemp.tempCode}
             , TEMP_TITL = #{alimTemp.tempTitl}
             , ALIM_TITL = #{alimTemp.alimTitl}
             , ALIM_ENTL = #{alimTemp.alimEntl}
             , TEMP_CONT = #{alimTemp.tempCont}
             , TEMP_ENCT = #{alimTemp.tempEnct}
             , USEE_YSNO = #{alimTemp.useeYsno}
             , UPDT_ADMN = #{alimTemp.updtAdmn}
             , UPDT_DATE = CURRENT_TIMESTAMP
         WHERE ALIM_SITU = #{oldAlimSitu}
           AND TEMP_CODE = #{oldTempCode}
    </update>
</mapper>
