<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sadari.admin.sadariadmin.adminauth.mapper.AdminAuthMapper">
    <!-- 관리자와 현재 권한그룹을 조회한다 -->
    <select id="getAdminAuthList" resultType="org.sadari.admin.sadariadmin.adminauth.vo.AdminAuthVO">
        SELECT /* getAdminAuthList */
               P.ADMN_NUMB
             , P.ADMN_IDXX
             , P.ADMN_NAME
             , P.AUTH_CODE
             , P.AUTH_NAME
             , P.DEPT_CODE
          FROM (  SELECT R.ADMN_NUMB
                       , R.ADMN_IDXX
                       , R.ADMN_NAME
                       , R.AUTH_CODE
                       , R.AUTH_NAME
                       , R.DEPT_CODE
                       , ROWNUM AS ROW_NUMB
                    FROM (  SELECT A.ADMN_NUMB
                                 , A.ADMN_IDXX
                                 , A.ADMN_NAME
                                 , A.AUTH_CODE
                                 , G.AUTH_NAME
                                 , A.DEPT_CODE
                              FROM TM_ADMINX A
                         LEFT JOIN TM_AUTHXM G
                                ON G.AUTH_CODE = A.AUTH_CODE
                          ORDER BY A.ADMN_NUMB
                         ) R
                   WHERE ROWNUM <![CDATA[<=]]> #{endRow}
               ) P
         WHERE P.ROW_NUMB <![CDATA[>=]]> #{startRow}
    </select>

    <!-- 관리자 전체 건수를 조회한다 -->
    <select id="getAdminAuthListCount" resultType="int">
        SELECT /* getAdminAuthListCount */
               COUNT(1)
          FROM TM_ADMINX
    </select>

    <!-- 관리자 존재 건수를 조회한다 -->
    <select id="getAdminCount" resultType="int">
        SELECT /* getAdminCount */
               COUNT(*)
          FROM TM_ADMINX
         WHERE ADMN_NUMB = #{admnNumb}
    </select>

    <!-- 사용 가능한 권한그룹 존재 건수를 조회한다 -->
    <select id="getAuthGroupCount" resultType="int">
        <bind name="yes" value="@org.sadari.admin.sadariadmin.common.constant.Constant@YES"/>
        SELECT /* getAuthGroupCount */
               COUNT(*)
          FROM TM_AUTHXM
         WHERE AUTH_CODE = #{authCode}
           AND NVL(USEE_YSNO, #{yes}) = #{yes}
    </select>

    <!-- 관리자의 권한 코드를 수정한다 -->
    <update id="uptAdminAuth">
        UPDATE /* uptAdminAuth */
               TM_ADMINX
           SET AUTH_CODE = #{authCode}
         WHERE ADMN_NUMB = #{admnNumb}
    </update>
</mapper>
